# Virtual environment
.venv/
venv/
env/

# Training outputs & models
runs/
*.pt

# Dataset (large files)
datasets/
images/
labels/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db


.claude/


